production=false
admin=true
google_api_key=YOUR_API_KEY
google_api_service_account=assets/data/service_account.json
google_calendar_id=YOUR_GOOGLE_CALENDAR_ID
pilotNames=Comma,Separated,List,Of,Names
location_latitude=38.2938273
location_longitude=7.2928358
location_timezone=UTC
