name: android

on:
  push:
    paths-ignore:
      - README.md
      - 'docs/**'
      - 'utils/**'
      - '.github/workflows/docs.yml'
  pull_request:
    paths-ignore:
      - README.md
      - 'docs/**'
      - 'utils/**'
      - '.github/workflows/docs.yml'
  workflow_dispatch:

env:
  flutter_version: '3.41.2'

jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 21

      - name: Calculating hash of Flutter patches for the cache key
        id: patches-hash
        run: |
          find ./.github/workflows/patches -type f -print0 | sort -zV | xargs -0 sha1sum | sha1sum | awk '{print "FLUTTER_PATCHES_HASH=" $1}' >> $GITHUB_OUTPUT

      - name: Setup Flutter environment
        uses: subosito/flutter-action@v2
        id: flutter-action
        with:
          flutter-version: ${{ env.flutter_version }}
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:-${{ steps.patches-hash.outputs.FLUTTER_PATCHES_HASH }}"

      - name: Patch Flutter
        if: steps.flutter-action.outputs.CACHE-HIT != 'true'
        run: |
          git apply "${{ github.workspace }}/.github/workflows/patches/0001-Workaround-for-wrong-list-divider-margin-119895.patch"
        working-directory: ${{ env.FLUTTER_ROOT }}

      - name: Install dependencies
        run: flutter pub get

      - name: Check code formatting
        run: dart format --set-exit-if-changed .

      - name: Building generated source code
        run: dart run build_runner build

      - name: Analyze code
        run: flutter analyze --no-pub .

      - name: Run tests
        run: flutter test --no-pub -r github

      - name: Build Android application (debug)
        if: github.ref_type != 'tag'
        run: flutter build appbundle --no-pub --debug

      - name: Prepare for release build
        if: github.ref_type == 'tag'
        env:
          ENCRYPTED_FILE_KEY: ${{ secrets.ENCRYPTED_FILE_KEY }}
          ENCRYPTED_FILE_IV: ${{ secrets.ENCRYPTED_FILE_IV }}
        run: |
          cd android
          openssl aes-256-cbc -K $ENCRYPTED_FILE_KEY -iv $ENCRYPTED_FILE_IV -in fastlane/androidkey.jks.enc -out fastlane/androidkey.jks -d

      - name: Build Android application (release)
        if: github.ref_type == 'tag'
        env:
          RELEASE_STORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          RELEASE_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          RELEASE_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
        run: flutter build appbundle --no-pub --release

      - name: Upload release artifact for deploy
        if: github.ref_type == 'tag'
        uses: actions/upload-artifact@v4
        with:
          name: android-bundle-release
          path: build/app/outputs/bundle/release/app-release.aab

  deploy:
    needs: test-build
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Download deploy artifact
        uses: actions/download-artifact@v4
        with:
          name: android-bundle-release
          path: build/app/outputs/bundle/release

      - name: Prepare for deploy
        env:
          ENCRYPTED_FILE_KEY: ${{ secrets.ENCRYPTED_FILE_KEY }}
          ENCRYPTED_FILE_IV: ${{ secrets.ENCRYPTED_FILE_IV }}
        run: |
          cd android
          openssl aes-256-cbc -K $ENCRYPTED_FILE_KEY -iv $ENCRYPTED_FILE_IV -in fastlane/googleplay-developer-key.json.enc -out fastlane/googleplay-developer-key.json -d

      - name: Setup Ruby environment
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'

      - name: Install Fastlane
        run: |
          gem install fastlane -N
          # https://github.com/fastlane/fastlane/issues/29183#issuecomment-2567093826
          gem install abbrev mutex_m ostruct -N

      - name: Deploy to Google Play
        run: |
          cd android
          fastlane deploy_production
