name: ios

on:
  push:
    paths-ignore:
      - README.md
      - 'docs/**'
      - 'utils/**'
      - '.github/workflows/docs.yml'
  pull_request:
    paths-ignore:
      - README.md
      - 'docs/**'
      - 'utils/**'
      - '.github/workflows/docs.yml'
  workflow_dispatch:

env:
  flutter_version: '3.38.4'

jobs:
  # Since Fastlane also builds, there is no way to split jobs without sacrificing build time
  test-build-deploy:
    # can't use macos-latest with Flutter 3.35.7: https://github.com/flutter/flutter/issues/176824
    runs-on: macos-15-intel
    steps:
      - name: Switch to latest XCode
        run: sudo xcode-select --switch /Applications/Xcode_16.4.app

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Calculating hash of Flutter patches for the cache key
        id: patches-hash
        run: |
          find ./.github/workflows/patches -type f -print0 | sort -zV | xargs -0 sha1sum | sha1sum | awk '{print "FLUTTER_PATCHES_HASH=" $1}' >> $GITHUB_OUTPUT

      - name: Setup Flutter environment
        uses: subosito/flutter-action@v2
        id: flutter-action
        with:
          flutter-version: ${{ env.flutter_version }}
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:-${{ steps.patches-hash.outputs.FLUTTER_PATCHES_HASH }}"

      - name: Patch Flutter
        if: steps.flutter-action.outputs.CACHE-HIT != 'true'
        run: |
          git apply "${{ github.workspace }}/.github/workflows/patches/0001-Workaround-for-wrong-list-divider-margin-119895.patch"
        working-directory: ${{ env.FLUTTER_ROOT }}

      - name: Install dependencies
        run: flutter pub get

      - name: Check code formatting
        run: dart format --set-exit-if-changed .

      - name: Building generated source code
        run: dart run build_runner build

      - name: Analyze code
        run: flutter analyze --no-pub .

      - name: Run tests
        run: flutter test --no-pub -r github

      - name: Build iOS application
        run: flutter build ios --no-pub --release --no-codesign

      - name: Prepare for deploy
        if: github.ref_type == 'tag'
        env:
          APPSTORE_APIKEY: ${{ secrets.IOS_APPSTORE_APIKEY }}
        run: |
          cd ios
          echo "${APPSTORE_APIKEY}" | base64 -d >fastlane/AuthKey.p8

      - name: Setup Ruby environment
        if: github.ref_type == 'tag'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'

      - name: Install Fastlane
        if: github.ref_type == 'tag'
        run: |
          # custom version of fastlane: https://github.com/fastlane/fastlane/pull/22288
          gem install specific_install -N 
          gem specific_install -l https://github.com/daniele-athome/fastlane.git -b stable
          # https://github.com/fastlane/fastlane/issues/29183#issuecomment-2567093826
          gem install abbrev mutex_m ostruct -N

      - name: Build and deploy to App Store
        if: github.ref_type == 'tag'
        env:
          MATCH_APPSTORE_USERNAME: ${{ secrets.IOS_MATCH_APPSTORE_USERNAME }}
          MATCH_PASSWORD: ${{ secrets.IOS_MATCH_PASSWORD }}
          MATCH_GIT_AUTHORIZATION: ${{ secrets.IOS_MATCH_GIT_AUTHORIZATION }}
        run: |
          cd ios
          fastlane deploy_production
