name: windows

on:
  push:
    paths-ignore:
      - README.md
      - 'docs/**'
      - 'utils/**'
      - '.github/workflows/docs.yml'
  pull_request:
    paths-ignore:
      - README.md
      - 'docs/**'
      - 'utils/**'
      - '.github/workflows/docs.yml'
  workflow_dispatch:

env:
  flutter_version: '3.38.3'

jobs:
  test-build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter environment
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.flutter_version }}

      - name: Patch Flutter
        run: |
          git apply "${{ github.workspace }}/.github/workflows/patches/0001-Workaround-for-wrong-list-divider-margin-119895.patch"
        working-directory: ${{ env.FLUTTER_ROOT }}

      - name: Install dependencies
        run: flutter pub get

      - name: Check code formatting
        run: dart format --set-exit-if-changed .

      - name: Building generated source code
        run: dart run build_runner build

      - name: Analyze code
        run: flutter analyze .

      - name: Run tests
        run: flutter test --no-pub -r github

      - name: Configure Flutter for Windows
        run: flutter config --enable-windows-desktop

      - name: Build Windows application (debug)
        run: flutter build windows --debug

      - name: Archive debug build
        if: github.ref_type == 'tag'
        uses: actions/upload-artifact@v4
        with:
          name: windows-bundle-debug
          path: build/windows/x64/runner/debug/

      - name: Build Windows application (release)
        run: flutter build windows --release

      - name: Archive release build
        if: github.ref_type == 'tag'
        uses: actions/upload-artifact@v4
        with:
          name: windows-bundle-release
          path: build/windows/x64/runner/release/
